<section class="discover">
    <div class="container">

        <p class="discover__description">
            Find out perfect place to hangout in your city.
        </p>

        <h1 class="discover__title places-tab">
            Discover great places.
        </h1>

        <!-- by default discover__title events tab is hidden -->
        <h1 class="discover__title events-tab">
            Discover great events.
        </h1>

        <ul class="discover__list">
            <li class="discover__list-item">
                <a class="place active-list" href="#"><i class="la la-compass" aria-hidden="true"></i>Places</a>
            </li>
            <li class="discover__list-item">
                <a class="events" href="#"><i class="la la-calendar" aria-hidden="true"></i>Events</a>
            </li>
        </ul>

        <form class="discover__form">
            <input class="discover__form-input" type="text" name="place-event" id="place-event" placeholder="What are you looking for?" />
            <select class="discover__form-input js-example-basic-multiple">
                <option>Location? </option>
                <option>New York</option>
                <option>California</option>
                <option>Washington</option>
                <option>New Jersey</option>
                <option>Miami</option>
                <option>San Francisco</option>
                <option>Boston</option>
                <option>Pensilvania</option>
                <option>Other</option>
            </select>
            <select class="discover__form-input js-example-basic-multiple">
                <option>Categories: </option>
                <option>Art's</option>
                <option>Health</option>
                <option>Hotels</option>
                <option>Real Estate</option>
                <option>Rentals</option>
                <option>Restaurant</option>
                <option>Shopping</option>
                <option>Travel</option>
                <option>Vacation</option>
            </select>
            <button class="btn-default btn-default-red" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </form>

        <p class="discover__hashtags">
            <span>Popular categories:</span> 
            <a href="explore-category.html">#restaurant,</a>
            <a href="explore-category.html">#hotels,</a>
            <a href="explore-category.html">#vacation,</a>
            <a href="explore-category.html">#rentals,</a>
            <a href="explore-category.html">#nightlive,</a>
            <a href="explore-category.html">#shopping,</a>
            <a href="explore-category.html">... </a>
        </p>
        
    </div>
</section>