<section class="services">
    <div class="container">

        <!-- section-header module -->
        <div class="section-header">
            <h1 class="section-header__title">
                Find Your Services
            </h1>
            <p class="section-header__description">
                Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod
            </p>
        </div>
        <!-- end section-header module -->


        <div class="services__box">
            <div class="row">
                
                <div class="col-xl-2 col-md-4 col-sm-6">

                    <!-- services-post module -->
                    <a href="#" class="services-post">
                        <div class="services-post__content">
                            {# <i class="la la-futbol-o" aria-hidden="true"></i> #}
                            <h2 class="services-post__title">
                                Sport
                            </h2>
                            <p class="services-post__location">
                                12 Locations
                            </p>
                        </div>
                    </a>
                    <!-- end services-post module -->

                </div>
                
                <div class="col-xl-2 col-md-4 col-sm-6">

                    <!-- services-post module -->
                    <a href="#" class="services-post">
                        <div class="services-post__content">
                            {# <i class="la la-hotel" aria-hidden="true"></i> #}
                            <h2 class="services-post__title">
                                Hotel
                            </h2>
                            <p class="services-post__location">
                                16 Locations
                            </p>
                        </div>
                    </a>
                    <!-- end services-post module -->

                </div>
                
                <div class="col-xl-2 col-md-4 col-sm-6">

                    <!-- services-post module -->
                    <a href="#" class="services-post">
                        <div class="services-post__content">
                            {# <i class="la la-cutlery" aria-hidden="true"></i> #}
                            <h2 class="services-post__title">
                                Restaurant
                            </h2>
                            <p class="services-post__location">
                                22 Locations
                            </p>
                        </div>
                    </a>
                    <!-- end services-post module -->

                </div>
                
                <div class="col-xl-2 col-md-4 col-sm-6">

                    <!-- services-post module -->
                    <a href="#" class="services-post">
                        <div class="services-post__content">
                            {# <i class="la la-shopping-cart" aria-hidden="true"></i> #}
                            <h2 class="services-post__title">
                                Shopping
                            </h2>
                            <p class="services-post__location">
                                30 Locations
                            </p>
                        </div>
                    </a>
                    <!-- end services-post module -->

                </div>
                
                <div class="col-xl-2 col-md-4 col-sm-6">

                    <!-- services-post module -->
                    <a href="#" class="services-post">
                        <div class="services-post__content">
                            {# <i class="la la-ticket" aria-hidden="true"></i> #}
                            <h2 class="services-post__title">
                                Art &amp; Culture
                            </h2>
                            <p class="services-post__location">
                                8 Locations
                            </p>
                        </div>
                    </a>
                    <!-- end services-post module -->

                </div>

                <div class="col-xl-2 col-md-4 col-sm-6">

                    <!-- services-post module -->
                    <a href="#" class="services-post">
                        <div class="services-post__content">
                            {# <i class="la la-glass" aria-hidden="true"></i> #}
                            <h2 class="services-post__title">
                                Nightlife
                            </h2>
                            <p class="services-post__location">
                                19 Locations
                            </p>
                        </div>
                    </a>
                    <!-- end services-post module -->

                </div>

            </div>
        </div>

    </div>
</section>